<div class="this-week">This Week <%= "#{@today.strftime('%B')} #{@today.beginning_of_week.day}-#{@today.end_of_week.day} #{@today.year}" %></div>
<% @gadgets.each do |gadget| %>
  <div class="gadget-space">
    <div name="votes-go-here">Put voting here</div>
    <div name="put-image-here">Image will go here</div>
    <div class=""><%= gadget.name %></div>
    <div class=""><%= gadget.website %></div>
    <div class=""><%= gadget.description %></div>
  <div>
<% end %>
