/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
header {
  background-color: #d3360b;
  height: 90px;
  position: relative;
}

a {
  text-decoration: none;
}

.logo {
  font-size: 40px;
  font-weight: 7px;
  color: green;
  padding-left: 6px;
}

.nav {
  transform: translateY(28%);
}

.user-name {
  padding-left: 49px;
  font-size: 24px;
  color: #097FC2;
}

.logout-pad {
  padding-left: 150px;
}

.nav-btn {
  padding: 7px;
  font-weight: 4px;
  border: 1px solid;
  border-color: #780000;
  border-radius: 8px;
  box-shadow: 1px 1px #780000;
}

.submit-gadget-btn {
  font-size: 16px;
}

.logout-btn {
  font-size: 22px;
}

.page-title {
  font-size: 33px;
  font-weight: 5px;
  color: #CC0099;
}

.block {
  display: inline-block;
}